@model DotNetCoreWeb_App.Models.Sentences

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Sentences</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="sentence_id" />
            <div class="form-group">
                <label asp-for="sentence_id" class="control-label"></label>
                <input asp-for="sentence_id" class="form-control" />
                <span asp-validation-for="sentence_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="criminal_id" class="control-label"></label>
                <input asp-for="criminal_id" class="form-control" />
                <span asp-validation-for="criminal_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="type" class="control-label"></label>
                <input asp-for="type" class="form-control" />
                <span asp-validation-for="type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="prob_id" class="control-label"></label>
                <input asp-for="prob_id" class="form-control" />
                <span asp-validation-for="prob_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="start_date" class="control-label"></label>
                <input asp-for="start_date" class="form-control" />
                <span asp-validation-for="start_date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="end_date" class="control-label"></label>
                <input asp-for="end_date" class="form-control" />
                <span asp-validation-for="end_date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="violations" class="control-label"></label>
                <input asp-for="violations" class="form-control" />
                <span asp-validation-for="violations" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
