@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Select a Table to view information</h1>
    <p>Log In <a href="/Identity/Account/Login">You must be logged in and have access to view Results</a>.</p>
    <p>Aliases <a href="~/Aliases">You must be logged in and have access to view Results</a>.</p>
    <p>Appeals <a href="~/Appeals">You must be logged in and have access to view Results</a>.</p>
    <p>Crime Charges <a href="~/Crime_charges">You must be logged in and have access to view Results</a>.</p>
    <p>Crime Codes <a href="~/CrimeCodes">You must be logged in and have access to view Results</a>.</p>
    <p>Crimes <a href="~/Crimes">You must be logged in and have access to view Results</a>.</p>
    <p>Criminals<a href="~/Criminals">You must be logged in and have access to view Results</a>.</p>
    <p>CriminalsDW <a href="~/CriminalsDWs">You must be logged in and have access to view Results</a>.</p>
    <p>Officers <a href="~/Officers">You must be logged in and have access to view Results</a>.</p>
    <p>Probation Contacts <a href="~/ProbationContacts">You must be logged in and have access to view Results</a>.</p>
    <p>Probation Officers <a href="~/ProbationOfficers">You must be logged in and have access to view Results</a>.</p>
    <p>Sentences <a href="~/Sentences">You must be logged in and have access to view Results</a>.</p>
</div>
