@model DotNetCoreWeb_App.Models.Crimes

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Crimes</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="crime_id" />
            <div class="form-group">
                <label asp-for="crime_id" class="control-label"></label>
                <input asp-for="crime_id" class="form-control" />
                <span asp-validation-for="crime_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="criminal_id" class="control-label"></label>
                <input asp-for="criminal_id" class="form-control" />
                <span asp-validation-for="criminal_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="classification" class="control-label"></label>
                <input asp-for="classification" class="form-control" />
                <span asp-validation-for="classification" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="date_charged" class="control-label"></label>
                <input asp-for="date_charged" class="form-control" />
                <span asp-validation-for="date_charged" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="status" class="control-label"></label>
                <input asp-for="status" class="form-control" />
                <span asp-validation-for="status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="hearing_date" class="control-label"></label>
                <input asp-for="hearing_date" class="form-control" />
                <span asp-validation-for="hearing_date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="appeal_cut_date" class="control-label"></label>
                <input asp-for="appeal_cut_date" class="form-control" />
                <span asp-validation-for="appeal_cut_date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="date_recorded" class="control-label"></label>
                <input asp-for="date_recorded" class="form-control" />
                <span asp-validation-for="date_recorded" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
